<div class="h-screen w-screen">
  <div class="flex items-center justify-center h-full">
    <div class="flex-col border border-gray-400 rounded shadow w-1/4 p-4">
      <div class="text-center py-2">
        <h1 class="font-bold text-xl">Password Generator</h1>
      </div>
      <div class="flex-col py-2">
        <div>
          <label>Length</label>
        </div>
        <input
          type="number"
          [(ngModel)]="length"
          class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 w-full"
        />
      </div>
      <div class="flex gap-x-2 py-2">
        <input type="checkbox" (change)="onChangeUseLetters()" />
        <label>Use Letters</label>
      </div>
      <div class="flex gap-x-2 py-2">
        <input type="checkbox" (change)="onChangeUseNumbers()" />
        <label>Use Numbers</label>
      </div>
      <div class="flex gap-x-2 py-2">
        <input type="checkbox" (change)="onChangeUseSymbols()" />
        <label>Use Symbols</label>
      </div>
      <div class="py-2">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:bg-gray-400 disabled:cursor-not-allowed disabled:text-gray-700 w-full"
          (click)="onButtonClick()"
          [disabled]="
            !(length && (includeLetters || includeNumbers || includeSymbols))
          "
        >
          Generate!
        </button>
      </div>
      <div class="flex-col border border-gray-400 rounded shadow" *ngIf="password">
        <div class="flex-col p-2">
          <div>
            <label>Generated Password</label>
          </div>
          <input
            [value]="password"
            class="border border-gray-300 rounded-lg py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 w-full"
            disabled
          />
        </div>
      </div>
    </div>
  </div>
</div>
